{% extends 'base.html' %}
{% block content %}
<main>
  <div class="flex-container">
    <div class="left-column">
    
        <h1>Blogster</h1>
        <h2>Share your <span>ideas</span> and <span>passions</span></h2>
        <button>CREATE YOUR BLOG</button>
   
    </div>
    <div class="right-column"> 
      <div class="theme-switcher">
         <span>Newsprint</span>
         <div class="newsprint"></div>
         <div class="newspaper"></div>
         <div class="darkmoss"></div>
         <div class="darknight"></div>
      </div>
      <div class="posts-content">
          <h6>MOST POPULAR BLOGS</h6>
          <div class="post-container">
            <h5>LIFESTYLE</h5>
            <div class="post-flex-container">


              <div class="post">
                <div>
                  <p>01</p>
                </div>
                <div>
                    <h4>Bonita</h4>
                    <p>A blog for fashionistas</p>
                </div>

                <div>
                    <p>03</p>
                </div>
                <div>
                    <h4>Bonita</h4>
                    <p>A blog for fashionistas</p>
                </div>
                <div>
                    <p>05</p>
                 </div>
                  <div>
                    <h4>Bonita</h4>
                    <p>A blog for fashionistas</p>
                  </div>
           </div>



           <div class="post">
              <div>
                <p>02</p>
            </div>
              <div>
                <h4>Bonita</h4>
                 <p>A blog for fashionistas</p>
              </div>
         
              <div>
                <p>04</p>
             </div>
              <div>
                <h4>Bonita</h4>
                <p>A blog for fashionistas</p>
              </div>

              <div>
                <p>06</p>
            </div>
              <div>
                <h4>Bonita</h4>
                 <p>A blog for fashionistas</p>
              </div>
            </div>
            <a href="" class="viewmore">View more</a>
        </div>


        <div class="post-flex-container">

            <h5>TECHNOLOGY</h5>
            <div class="post">
              <div>
                <p>01</p>
              </div>
              <div>
                  <h4>Bonita</h4>
                  <p>A blog for fashionistas</p>
              </div>

              <div>
                  <p>03</p>
              </div>
              <div>
                  <h4>Bonita</h4>
                  <p>A blog for fashionistas</p>
              </div>
              <div>
                  <p>05</p>
               </div>
                <div>
                  <h4>Bonita</h4>
                  <p>A blog for fashionistas</p>
                </div>
         </div>



         <div class="post">
            <div>
              <p>02</p>
          </div>
            <div>
              <h4>Bonita</h4>
               <p>A blog for fashionistas</p>
            </div>
       
            <div>
              <p>04</p>
           </div>
            <div>
              <h4>Bonita</h4>
              <p>A blog for fashionistas</p>
            </div>

            <div>
              <p>06</p>
          </div>
            <div>
              <h4>Bonita</h4>
               <p>A blog for fashionistas</p>
            </div>
          </div>
          <a href="" class="viewmore">View more</a>
      </div>


      <div class="post-flex-container">

        <h5>ARTS</h5>
        <div class="post">
          <div>
            <p>01</p>
          </div>
          <div>
              <h4>Bonita</h4>
              <p>A blog for fashionistas</p>
          </div>

          <div>
              <p>03</p>
          </div>
          <div>
              <h4>Bonita</h4>
              <p>A blog for fashionistas</p>
          </div>
          <div>
              <p>05</p>
           </div>
            <div>
              <h4>Bonita</h4>
              <p>A blog for fashionistas</p>
            </div>
     </div>



     <div class="post">
        <div>
          <p>02</p>
      </div>
        <div>
          <h4>Bonita</h4>
           <p>A blog for fashionistas</p>
        </div>
   
        <div>
          <p>04</p>
       </div>
        <div>
          <h4>Bonita</h4>
          <p>A blog for fashionistas</p>
        </div>

        <div>
          <p>06</p>
      </div>
        <div>
          <h4>Bonita</h4>
           <p>A blog for fashionistas</p>
        </div>
      </div>
      <a href="" class="viewmore">View more</a>
  </div>




        </div>
         
        </div>
    </div>
  </div>


</main>
{% endblock %}